@import "@/styles/variables";

.container {
    position: sticky;
    top: 20px;
    
    h2 {
        margin: 0;
    }
    
    .groceries {
        padding: 10px;
        max-height: calc(100vh - 520px);
        overflow-y: auto;
        
        border-top: $borderThickness solid $borders;
        border-bottom: $borderThickness solid $borders;
    }
}