@import "@/styles/variables";

.nav {

    // Accept all types of elements, just make sure they are inline with no margin
    > * {
        display: inline-block;
        color: $black;
        margin: 0;
        
        // Not is not the most performant selector, but ok here.
        &:not(:last-child) {
            // Add a slash to everything except the last child
            &:after {
                content: "/";
                margin: 0 10px;
                color: $black;
            }
        }
    }

    // Make sure the last child is bold
    :last-child {
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
        
        &:hover {
            color: $blue;
        }
    }
}