// Note: Affixing the name of animations isn't strictly necessary with CSS modules because it will become uniquely identified anyway.

/**
 * A shimmer animation for loading effects.
 */
@mixin ShimmerAnimation($shimmerColour, $maxWidth, $duration) {
    animation: shimmer#{$maxWidth} $duration linear infinite;
    animation-fill-mode: forwards;
    background: linear-gradient(to right, $shimmerColour 0%, darken($shimmerColour, 5) 20%, $shimmerColour 30%);
    background-size: $maxWidth 100%;
    
    @keyframes shimmer#{$maxWidth} {
        from {
            background-position: -$maxWidth 0;
        }
        to {
            background-position: $maxWidth 0;
        }
    }
}