$blue: rgb(26, 150, 243);
$purple: rgb(136, 68, 184);
$green: rgb(94, 152, 57);
$white: #fff;
$black: rgb(51 51 51);

$mainBackground: rgb(241, 241, 241);
$headerBackground: $white;
$borders: $black;

$borderThickness: 4px;

// Normalise transitions across the site
$transitionSpeed: .2s;